In [5]:
import numpy as np
import pandas as pd

In [1]:
myindex = ['USA', 'Canada', 'Mexico']

In [2]:
mydata = [1776, 1867, 1821]

In [7]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
print(myser)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [11]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [14]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
sales_q1, sales_q2

(Japan     80
 China    450
 India    200
 USA      250
 dtype: int64,
 Brazil    100
 China     500
 India     210
 USA       260
 dtype: int64)

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [15]:
sales_q1['Japan']

80

In [17]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [22]:
sales_q1.values

array([ 80, 450, 200, 250], dtype=int64)

In [25]:
np.array([1,2]) *2

array([2, 4])

In [26]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [27]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [34]:
t = sales_q1.add(sales_q2, fill_value=0)

In [36]:
t.dtype

dtype('float64')